.container-cadastro {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.section-cadastro {
  width: 35%;
  margin: 0px 30px;
}

.form-cadastro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.wrap-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0E1427;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
}

.login-form {
  width: 100%;
}

.login-form-title {
  display: block;
  line-height: 2;
  text-align: center;
}

.login-form-title img {
  width: 150px;
}

.wrap-input {
  color: #FFFFFF;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 37px;
}

.wrap-input select {
  color: #FFFFFF;
  line-height: 1.2;
  background-color: transparent;
  width: 100%;
  height: 45px;
  font-size: 14px;
  border: none;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.wrap-input option {
  background-color: #0E1427;
  opacity: 50%;
  border: none;
  color: #FFFFFF;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #FFFFFF;
  font-family: Nunito, sans-serif;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #FFFFFF;
}

.focus-input::after {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val+.focus-input::after {
  top: -15px;
}

.has-val+.focus-input::before {
  width: 100%;
}

.table {
  width: 70% !important;
  margin: 0 auto;
  margin-top: 35px;
  --bs-table-bg: #C0C0C0 !important;
  --bs-table-striped-bg: none !important;
}

.section-btn-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-btn-cadastro :is(.btn) {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  color: #0E1427;
  line-height: 1;
  width: 150px;
  background: #DFDEDE;
  margin: 10px 10px;
  transition: 0.3s;
}

.section-btn-cadastro :is(.btn):hover {
  color: #DFDEDE;
  background: #696464;
  cursor: pointer;
}

.section-btn-cadastro--column {
  flex-direction: column;
}

.section-btn-cadastro--column :is(.btn-planilhas) {
  width: 250px;
}

@media (max-width: 767px) {
  .justify-center-mobile-lab, .justify-center-mobile-patrimonio, .justify-center-mobile-user  {
    width: auto;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
  }

  .d-flex-lab, .d-flex-patrimonio, .d-flex-user{
    flex-direction: column;
  }


  .table-lab {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hide-mobile {
    display: none !important;
  }
}