.table-container {
  width: 60%;
  font-weight: 500;
  margin-top: 7%;
  margin-left: 20%;
  border: 1px solid #ffffff;
}

.table-container :is(td) {
  color: #EFEFEF;
}

.table-container :is(td, th) {
  text-align: center;
}

.top {
  background-color: #ffffff !important;
}

.btn-table {
  display: flex;
  justify-content: center;
  border: none;
  margin-top: 5vh;
  padding-right: 2vh;
}

.btn-accept {
  color: #efefef;
  background-color: #182850;
  padding: 0.455rem 0.5rem !important;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  margin-right: 2vh;
}

.btn-deny {
  color: #EFEFEF;
  background-color: #b4b4b4;
  padding: 0.455rem .5rem !important;
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: bold !important;
  cursor: pointer !important;
}

table td {
  width: 12vh;
}

.title-modal {
  text-align: center;
}

.form-modal {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.form-modal :is(button) {
  border: none;
  border-radius: 1px;
  padding: 0 20px;
}

.form-modal-manutencao {
  flex-direction: column;
}