.form-perfil{
    border: 1px solid #FFF;
    width:fit-content ;
    margin: auto;
    padding: 5%;
    margin-top: 30px;
}

.section-perfil{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.img-perfil{
    height: 80px;
    width: 80px;
    background-color: #FFF;
    border-radius: 50%;
    margin: auto
}

.titulo-perfil{
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    padding-top: 20px;
}

.titulo-typeUser{
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.btn{
    font-size: 2em;
    border: none;
}

.header-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span-perfil{
    color: #FFF;
    /* border-bottom: 1px solid #FFF !important; */
}

.button{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}