.d-flex-column {
  display: flex;
  flex-direction: column;
}

.form-container :where(label) {
  text-align: left;
  color: #fff;
}

.form-container :where(select, input) {
  margin: 5px 0;
}

.form-container section div {
  width: 50%;
  padding: 0 5px;
}

.form-container section div input,
select {
  display: block;
  width: 100%;
}

.form-container label .termos-uso {
  margin-right: 5px;
}