/* .table{
    width: 30%;
    --bs-table-bg: #C0C0C0 !important;
    --bs-table-striped-bg: none !important;
}

.container-table{
    width: 34%;
    position: absolute;
    top: 90px;
    padding-left: 80px;
    background-color: transparent;
    border-radius: none !important;
}


.MuiPaper-root{
    width: 34%;
    position: absolute;
    top: 60px;
    padding-left: 60px;
    background-color: transparent !important;
    border-radius: none !important;
}

.MuiTableContainer-root{
    padding: initial !important;
    background-color: #C0C0C0 !important;
}

.MuiToolbar-root{
    border-radius: none !important;
    background-color: #C0C0C0;
}

.MuitableCell-head{
    background-color: #808080 !important;
}

.MuiTableHead-root{
    background-color: #808080 !important;
}

.MuiTableBody-root{
    background-color: #808080 !important
}

.container{
    background-color: #C0C0C0 !important;
} */