.modal-header {
  background: #0E1427;
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: space-around !important;
  border-bottom: none !important;
  border-radius: 0px !important;
}

.modal-body {
  background: #0E1427;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em !important;
}

.sectionImg {
  display: flex;
  justify-content: center;
}

.img-entrar {
  width: 190px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.modal-content {
  border-radius: 0px !important;
  box-shadow: 2px 2px 4px #0e1427;
  border: none !important;
  width: 85% !important;
}

.modal-footer {
  background: #0E1427 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: none !important;
  border-radius: 0px !important;
  padding-bottom: 3em !important;
}

.alert-link {
  text-decoration: none;
  color: white;
  font-weight: 300 !important;
}

.alert-link:hover {
  color: #A9A9A9 !important;
}

.button {
  font-weight: bold;
  border: none;
  color: #0E1427;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #DFDEDE;
  width: 38%;
  font-size: 16.5px;
}

.form-floating>label {
  color: white !important;
  font-weight: 500 !important;
}

.form-control:focus {
  transition: 0.2s;
  box-shadow: 0 0 0 0 !important;
  outline: 0 !important;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 37px;
}

.wrap-input select {
  color: #FFFFFF;
  line-height: 1.2;
  background-color: transparent;
  width: 100%;
  height: 45px;
  font-size: 14px;
  border: none;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.wrap-input option {
  background-color: #0E1427;
  opacity: 50%;
  border: none;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 18em !important;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #FFFFFF;
  font-family: Nunito, sans-serif;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #FFFFFF;
}

.focus-input::after {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val+.focus-input::after {
  top: -15px;
}

.has-val+.focus-input::before {
  width: 100%;
}

.btn-fill {
  background-color: #182850 !important;
  padding: 0.455rem 1rem !important;
  border-radius: 8px !important;
  border: none !important;
  color: #efefef !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  cursor: pointer !important;
  transition: 0.3s !important;
}

.btn-fill:hover {
  background-color: #0083fd !important;
  box-shadow: #0083fd 0px 0px 7px 1px !important;
}