.btn-primeiro-acesso {
  margin-right: 10px;
}

.container-login {
  box-shadow: 2px 2px 4px #0e1427;
}

.wrap-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0E1427;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
}

.login-form {
  width: 100%;
}

.login-form-title {
  display: block;
  line-height: 2;
  text-align: center;
}

.login-form-title img {
  width: 150px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 37px;
}

.wrap-input select {
  color: #FFFFFF;
  line-height: 1.2;
  background-color: transparent;
  width: 100%;
  height: 45px;
  font-size: 14px;
  border: none;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.wrap-input option {
  background-color: #0E1427;
  opacity: 50%;
  border: none;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #FFFFFF;
  font-family: Nunito, sans-serif;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #FFFFFF;
}

.focus-input::after {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus {
  outline: 0;
}

.input:focus+.focus-input::after {
  top: -15px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val+.focus-input::after {
  top: -15px;
}

.has-val+.focus-input::before {
  width: 100%;
}

.container-login-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}

.login-form-btn {
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: #0E1427;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  background: #DFDEDE;
}

.container-login-form-btn {
  padding-bottom: 0px;
}

.login-form-btn:hover {
  cursor: pointer;

}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.txt1 {
  line-height: 1.5;
  padding-right: 5px;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.txt2 {
  line-height: 1.5;
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.txt2:hover {
  color: #A9A9A9;
}


.modal-header {
  border: none !important;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 4em;
}

.modal-content {
  width: 90% !important;
}

.img-acesso {
  width: 190px !important;
  padding: 0 !important;
}

.btn-outline {
  background-color: transparent !important;
  padding: 0.375rem 1rem !important;
  border-radius: 0.375rem !important;
  border: #182850 1px solid !important;
  margin-right: 10px !important;
  color: #182850 !important;
  cursor: pointer !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
  transition: 0.3s !important;
}

.btn-outline:hover {
  color: #0083fd !important;
  border: none !important;
  border: #0083fd 1px solid !important;
  box-shadow: #0083fd 0px 0px 7px 1px !important;
}