.title {
    text-align: center;
    color: #FFF;
}

.container-manutencao table {
    margin: auto;
    margin-top: 30px;
    width: 60%;
    height: 250px;
    background-color: #ddd;
    color: black;
    text-align: center;
}

.container-manutencao table th {
    height: 35px;
    background-color: #FFF;
    color: #000;
}

.radius {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ativo {
    background-color: #299E00;
    border: 2px solid #299E00;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.manutencao {
    background-color: #FF9900;
    border: 2px solid #FF9900;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}


.inativo {
    background-color: #FF0B0B;
    border: 2px solid #FF0B0B;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}


.text-status {
    color: #FFF;
}


.form-manutencao {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}

.section-manutencao {
    display: flex;
    flex-direction: column;
}

.section-manutencao textarea {
    resize: none;
    width: 350px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 15px;
    color: white;
}

.section-manutencao label {
    color: white;
    margin: 10px 0;
}

.buttons-manutencao {
    margin: 30px 0;
    text-align: center;
}

.buttons-manutencao button {
    margin: 0 15px;
    width: 95px;
    height: 30px;
    font-size: 18px;
}