/* .header {
  background: #c0c0c0;
  width: 100%;
  height: 39px;
}

.card-margin {
  margin: 40px 20px;
  margin-left: 10px;
}

.caption-box-card {
  height: 50px;
  width: 350px;
  background: #D9D9D9;
}

.caption-box-card p {
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.discipline-box {
  background: #bdb0b0;
  height: 75%;
  width: 100%;
}

.article-lab {
  display: flex;
  place-content: space-between;
}

@media (max-width: 450px) {
  .article-lab {
    display: flex;
    flex-direction: column;
  }

  .caption-box {
    width: 100% !important;
  }

  .header {
    width: 106%;
  }

  .caption-box-card {
    width: 100%;
  }
}

.navbar>.container {
  background-color: #bdb0b0;
}

.navbar {
  z-index: 9;
}

.btn-primary {
  background-color: #181F38;
  border: none;
}

.btn-primary:hover {
  background-color: #0b206e;
}

.btn-primary:focus {
  background-color: #0b206e;
} */