.btn-alterarSenha {
  text-align: center !important;
  font-size: 18px !important;
  font-weight: bold !important;
  border: none !important;
  border-radius: 2px !important;
  color: #0e1427 !important;
  line-height: 1 !important;
  width: 100% !important;
  height: 40px;
  background: #dfdede !important;
  margin: auto !important;
  transition: 0.3s !important;

  margin-top: 20px !important;
}



.modal-content {
  width: 85% !important;
}

.loading-password {
  display: flex;
  justify-content: center;
}

.spinner-border {
  color: #ffffff;
}

.desc-container{
  max-width: 80%;
  margin: auto;
}

.desc-alterarSenha{
  font-size: 14px;
  color: #dfdede;
}


