.navOutline {
  margin-right: 5px;
  border: #182850 2px solid;
}

.btn-fill {
  background-color: #DFDEDE;
  padding: 0.455rem 1rem;
  border-radius: 8px;
  border: none;
  color: #efefef;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 300ms;
}

.btn-fill:hover {
  background-color: #0083fd;
  box-shadow: #0083fd 0px 0px 7px 1px;
}

.btn-outline {
  background-color: transparent;
  padding: 0.375rem 1rem;
  border-radius: 0.375rem;
  border: #182850 1px solid;
  margin-right: 10px;
  color: #182850;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  transition-duration: 300ms;
}

.btn-outline:hover {
  color: #0083fd;
  border: none;
  border: #0083fd 1px solid;
  box-shadow: #0083fd 0px 0px 7px 1px;
}

.navConfig {
  background: transparent;
  height: 70px;
  border-bottom: #DFDEDE 1px solid;
  padding: 5px;
}

.btn-flex {
  display: flex;
}

.container {
  display: contents;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  justify-content: flex-end !important;
}

.nav-link {
  border-bottom: 1px solid white !important;
}

.container :is(.intec) {
  text-decoration: none;
  color: #0000008c;
  font-weight: bold;
}

.navbar-nav .dropdown-menu {
  background: #DFDEDE !important;
  position: absolute !important;
  border-radius: 3px !important;
  width: 50% !important;
}

.dropdown-item{
  border-bottom: 1px solid white !important;
}

@media screen and (max-width:410px) {
  .container :is(.intec) {
    display: none;
  }
  .navbar-nav .dropdown-menu{
    width: 60% !important;
  }
}

@media screen and (max-width:568px) {
  .container :is(.intec) {
    padding: 0;
  }
}


@media screen and (max-width:313px) {
  .btn-flex {
    padding-top: 5px !important;
  }

  .container :is(.intec) {
    padding: 0;
    display: none;
  }
  .navbar-nav .dropdown-menu{
    width: 100% !important;
  }
}

.btn-sair{
  background-color: #182850 !important;
  padding: 0.455rem 1rem !important;
  border-radius: 8px !important;
  border: none !important;
  color: #efefef !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  cursor: pointer !important;
  transition: 0.3s !important;
}

.btn-sair:hover {
  background-color: #0083fd !important;
  box-shadow: #0083fd 0px 0px 7px 1px !important;
}