
  .sidebar {
      background-color: transparent;
      width: 100%;
      display: flex;
      align-items: center;
      z-index: 10;
    }
  
  .menu-bars {
    margin: 0px 10px 0px 10px;
    font-size: 2.2rem;
    background: none;
  }

  
  .nav-menu {
    background-color: #181f38;
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 1000ms;
    z-index: 2;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 800ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 98%;
    padding: 5px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    border: 1px solid #cfcfcf39;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 13px 16px;
    border-radius: 10px;
  }
  
  .nav-text a:hover {
    border-color: transparent;
    background-color: #cfcfcf39;
    color: #ffff;
  }
  
  .nav-menu-items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  
  .navbar-toggle {
    background-color: #cfcfcf39;
    width: 100%;
    height: 25%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 5px;
  }
  
  .sidebar-span {
    margin-left: 16px;
  }

  .menu-bars-out{
    height: 100%;
  }

  .logo-sidebar{
    width: 60%;
    height: auto;
  }

  .logo-wrapper{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 .logo-caption{
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  justify-content: center;
  margin: 0;
 }

 .menu-item-icon{
  display: flex;
  align-items: center;
  font-size: 19px;
 }

.menu-items-wrapper{
  width: 100%;
}

.background{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(255,255,255,0.1);
  transition: ease 1s;
  top: 0;
  z-index: 1;
}

.background-off{
  display: block;
  transition: ease 1s;


}

.wrap-img-logo-navbar{
  margin: auto;
  display: flex;
  justify-content: center;
}

.img-logo-navbar{
  margin: 10px 32.2px 0 0;
  width: 50px;
  height: auto;
}

.img-logo-navbar:hover{
  opacity: 80%;
}


