body {
    margin: 0;
    padding: 0;
}

.section-1 {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.imgLanding {
    width: 100%;
    filter: drop-shadow(4px 4px 2px #4F4F4F);

}

.nomeLogo{
    color: #D3D3D3;
    font-weight: 700;
    font-size: 50px;
}

.slgtxt {
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.div_Img_Txt {
    border-radius: 0;
    border: none;

    width: 35%;

    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width:383px) {
    .div_Img_Txt {
        width: 60%;
    }
}

@media screen and (max-width:468px) {
    .div_Img_Txt {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    .div_Img_Txt {
        width: 60%;
    }
}