body {
    margin: 0;
    padding: 0;
}

.section-1 {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.imgLanding {
    width: 100%;
}

.slgtxt {
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

.div_Img_Txt {
    background: rgba(227, 221, 221, 0.06);
    border-radius: 0;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: none;

    width: 35%;

    display: flex;
    flex-direction: column;
    text-align: center;
}